*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  margin: 0;
  padding: 0;

  background: #101010;
  color: #cdcdcd;
  font-family: 'Saira Semi Condensed', sans-serif; 
}




/* Website Logo */
.mylogo {
  width: 250px;
  overflow: hidden;
  justify-content: center;
  margin: 25px auto;
}

.mylogo img {
  max-width: 100%;
  max-height: 100%;}

/* contact form */
.contactform {
  margin: 20px;
  border: none;
}

.contactform input {
  border: solid #4a3c90;
    
  border-radius: 0.5em;
  font-family: 'Saira Semi Condensed', sans-serif; 

}

.contactform input:invalid {
  border: solid darkred;
}




/* top nav bar */

.topnav {
  background-color: #232323;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-size: 23px;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav a:hover {
  color: #4a3c90;
}

.topnav img {
  margin: auto;
  float: left;
  padding:5px;
  max-width: 100%;
  max-height: 100%;
  height: 50px;
  padding: 0 5px;
}

.container {
  padding: 10px;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, .25); */
  border-radius: .5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

