body {
    margin: 0;
}

.container {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.box {
    width: 200px;
    height: 200px;
    margin: 10px;
    float:left;

}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}