* {
  /* Alle elementen krijg 0 margin */
  margin: 0px;
  box-sizing: border-box;
}

/* Responsive maken */
@media screen and (max-width: 800px) {
  .flexbox {
    /* Stack flexbox in een kolom ipv in een rij op screens die kleiner zijn dan 800px */
    flex-direction: column;
  }
}
